# DS-SF-23 | Lab 02 - Introduction to `pandas`

(Source: [Computing for Data Analysis](https://www.coursera.org/course/compdata))

In [2]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 1.  Display the dataset's head

In [4]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 2.  Print the column names of the dataset to the screen, one column name per line

In [5]:
a =df.columns
print len(a)
for i in range(0,len(a)):
    print a[i],'\n'
   # print '\n'

6
Ozone

Solar.R

Wind

Temp

Month

Day

> ## Question 3.  Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [8]:
#df.columns
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 4.  How many observations (i.e., rows) are in this data frame?

In [119]:
max(df.count())

153

> ## Question 5.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [120]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 6. What is the value of Ozone in the 47th row?

In [121]:
df.at[47,'Ozone']

37.0

> ## Question 7. How many missing values are in the Ozone column of this data frame?

In [125]:
df[:30]
df.Ozone.isnull().sum()

153

> ## Question 8. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

In [71]:
df['Ozone'].sum()/df['Ozone'].count()

42.12931034482759

> ## Question 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [82]:
df[:4]

df1=df[(df['Ozone']>31) & (df['Temp']>90)]
df1['Solar.R'].sum()/df1['Solar.R'].count()

212.8

> ## Question 10. What is the mean of Temp when Month is equal to 6?

In [133]:



df1 = df[df['Month']==6]
df1['Temp'].mean()

#df1['Month'].sum()/df1['Month'].count()

79.1

> ## Question 11. What was the maximum Ozone value in the month of May?

In [93]:
df[:5]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [99]:
df1=df[df['Month']==5]
df1['Ozone'].max()

115.0